<html lang="en">
<head>
 <link rel="stylesheet" href="css/style.css">
</head>
<body>

<h2>Sign in/up</h2>
<div class="container" id="container">
	<div class="form-container sign-in-container">
		<form action="/twitregister" method="post">
			<h1>Twit Account</h1>
				<input type="text" placeholder="Twit words" id="twit" name="twit"  />  
		  <input class="btnstyle" type="submit" value="Twit">
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome Twit Account!</h1>
				<p></p>
				<button class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Hello, Friend!</h1>
				<p>Enter your Twit details and start journey with us</p>
				<button class="ghost" id="signUp">Twitter</button>
			</div>
		</div>
	</div>
</div>

<footer>
	<p>
	
	</p>
</footer>
</body>
</html>